<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>


<body class="bg-secondary">
  <%- include('../partials/nav') %>
  <div class="container bg-light">
    <br><h1><a href="/board" class="text-secondary nav-link">Board</a></h1><br>
    <table class="table text-center">
      <thead>
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>글쓴이</th>
          <th>조회수</th>
        </tr>
      </thead>
      <tbody>
        <% contents.forEach(function(contents) { %>
        <tr>
          <td><%= contents.id %></td>
          <td><a class="nav-link text-dark" href="/<%=contents.id%>"><%= contents.title %></a></td>
          <td><%= contents.writer %></td>
          <td><%= contents.views %></td>
        </tr>
        <%})%>
      </tbody>
    </table>
    <ul class="pagination justify-content-center">
      <li class="page-item"><a href="#" class="page-link text-secondary">◀</a></li>
      <li class="page-item"><a href="#" class="page-link text-secondary">1</a></li>
      <li class="page-item"><a href="#" class="page-link text-secondary">2</a></li>
      <li class="page-item"><a href="#" class="page-link text-secondary">3</a></li>
      <li class="page-item"><a href="#" class="page-link text-secondary">4</a></li>
      <li class="page-item"><a href="#" class="page-link text-secondary">5</a></li>
      <li class="page-item"><a href="#" class="page-link text-secondary">▶</a></li>
    </ul>
      <button class="btn btn-info" style="float:right;" onclick="location.href='/write';">글쓰기</button>
  </div>

</body>
