<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>


<body class="bg-secondary">
  <%- include('../partials/nav') %>
  <div class="container bg-light">
  	<div class="row">
  		<table class="table">
  			<thead>
  				<tr class="table-active">
  					<th scope="col" style="width: 60%"><%=content.title%><br>
  						작성자 : <%=content.writer%></th>
  					<th scope="col" style="width: 40%" class="text-right">조회 : <%=content.views%>
  						<br> 2022.01.28</th>
  				</tr>
  			</thead>
  			<tbody>
  				<tr>
  					<td><pre><%=content.body%></pre></td>
  				</tr>
  			</tbody>
  		</table>
      <div>
        <button class="btn btn-primary" style="float:right;" onclick="location.href='/board';">목록</button>
      </div>
  	</div>
  </div>
</body>
